<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237947345048-1rgctohpogjaiep0abqo6df55vttc4if.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237947345048-1rgctohpogjaiep0abqo6df55vttc4if</string>
	<key>API_KEY</key>
	<string>AIzaSyCpPa_oUWKVPghME8JTzMaVREnxbVIFCaw</string>
	<key>GCM_SENDER_ID</key>
	<string>237947345048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zahraSK.EarnABurger</string>
	<key>PROJECT_ID</key>
	<string>earnaburger</string>
	<key>STORAGE_BUCKET</key>
	<string>earnaburger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237947345048:ios:f8dcd311d6fa5dfc43d8ed</string>
</dict>
</plist>